body {
  background: black;
  margin: 0;
  padding: 0;
}
h1, h2, p {
  color: white;
  margin: 25px;
  padding: 0;
}
h1 {
  font-size: 4.5vw;
}
h2 {
  font-size: 3.5vw;
  color: chartreuse;
}
p {
  font-size: 2.5vw;
  letter-spacing: 5px;
}
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
  line-height: 5px;
  align-items: center;
}
